
header {
	background: #020202;
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	left: 0;
	min-width: 630px;
	z-index: 999;
}

.hide, .mobile{
	display: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.tab-top-menu {
	display: block;
	width: 100%;
	height: 40px;
	position: relative;

}

.tab-top-menu .left {

}

.tab-top-menu .right {

}

header > section {
	display: inline-flex;
	height: 100%;
	margin: 0 70px;
}

header > section > * {
	margin: auto 0;
}

header .logo {
	
}

body {
	background-image:url(../img/body-background.jpg);
	background-size: 100% 100%;
	min-width: 1030px;
}



#main-content {
	margin-top: 70px;
	margin-left: 80px;
	margin-right: 80px;
	padding: 20px;
	background-color: rgba(109, 115, 115, 0.4);	
	z-index: 9;
	display: block;
	height: 850px;
}

#main-content > section {
	margin: 20px 0;
}

footer { 
	display: none;
}


#main-content > section.notifications {
	font-size: 14px;
	padding: 10px;
	background-color: #ebebeb;
}

#tabs {
	background: none;
	border: none;
}

.tabs .ui-tabs .ui-tabs-panel {
	background-color: #ebebeb;
}


#tabs > ul > li > a {
	font-size: 15px;
	font-weight: normal;
	outline: none;
}

#tabs > ul > li > a > i.fa {
	height: 10px;
	width: 10px;
}

#tabs > ul > li {
	margin: 0 0;
	width: 22%;
	text-align: center;
	padding: 0.5% 0.5%;
	border: 1px #777777 solid;
	border-bottom: none;
	outline: none;

}

#tabs > ul > li+li {
	margin-left: 4%;
}

#tabs > ul > li.ui-state-default {
	color: white;
	background: #646464;
}

#tabs > ul > li.ui-state-active {
	background: #ebebeb;
	color: black;
}

#tabs > ul > li.ui-state-default > a {
	color: white;
}

#tabs > ul > li.ui-state-active > a {
	color: black;
}

.ui-tabs ul.ui-tabs-nav {
	padding: 0;
	outline: none;
}


#tabs > ul {
	background: none;
	border: none;
}



.tab {
	margin-left: 1px;
	height: 100%;
}

.top-options {
	width: 100%;
	text-align: center;	
}

.top-options > .option {
	display: inline-block;
	height: 180px;
	width: 30%;
	margin-left: 4.5%;
	background-repeat: no-repeat;
	background-color: black;
  	background-position: center;
  	background-position-y: 70px;
  	text-align: center;
  	color: white;
  	padding-top: 10px;
  	position: relative;


}

.top-options > .option > .inner-option-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	color: #646464;
	font-size: 13px;
	padding: 10px 0;
}

.top-options > .option > p {
	margin: 0;
}

.top-options > .option:first-child {
	margin-left: 0.2em;
}

.top-options > .option[data-option="platform"] {
	background-image: url('../img/icons/action-report-new.png');
}

.top-options > .option[data-option="dashboard"] {
	background-image: url('../img/icons/action-report-top.png');
}

.top-options > .option[data-option="tutorials"] {
	background-image: url('../img/icons/actions-help.png');
}

.select-site {
	width: 200px;
}

.tab-top-menu .right .tab-menu-options > li {
	margin-left: 10px;
	display: inline;
	cursor: pointer;
}

.tab-top-menu .right .tab-menu-options > li.option-wizard {
	display: inline-block;
	padding: 5px 10px 10px 10px;
}

.tab-top-menu .right .tab-menu-options > li.option-wizard.active {
	background: white;
}

.tab-top-menu .right .tab-menu-options {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}



.report-content, .report-content > iframe {
	width: 100%;
	height: calc(100% - 40px);
}

.tabs {
	height: 500px;
	cursor: pointer;
}

#tabs {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.report-wizard {
	position: absolute;
	top:40px;
	left:0;
	width:100%;
	padding: 5px 10px 30px 10px;
	background: white;
	cursor: default;
	display: none;
	-webkit-box-shadow: 9px 9px 11px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 11px -7px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 11px -7px rgba(0,0,0,0.75);
}


.report-wizard .edit-report {
	border-collapse: separate;
	border-spacing: 0 5px;
	font-size: 13px;
	width: 100%;
	margin: auto;
}

.report-wizard .edit-report tr {
	width: 100%;
	background: #dcdada;
}

.report-wizard .edit-report tr td {

	background: #dcdada;
}


.report-wizard .edit-report tr > td:first-child {

	padding: 5px 10px;
}

.delete-site {
	cursor: pointer;
}

input.ng-invalid {
	border: 1px solid red;
}