<div class="tab-top-menu">
    <div class="left">
        <select class="select-site" ng-model="selectedReport" ng-options="i*1 as (t.name) for (i,t) in reports">
        </select>
    </div>
    <div class="right">
        <ul class="tab-menu-options">
            <li class="option-link"><a target="_blank" ng-href="{{reports[selectedReport].url}}"><i class="fa fa-external-link-square"></i></a></li>
            <li class="option-wizard">
                <i class="fa fa-cog" ng-click="toggleWizard($event)"></i>
                <div class="report-wizard" ng-click="preventWizardClose($event)">
                    <table class="edit-report">
                        <tbody>
                            <tr ng-repeat="(i, report) in reports">
                                <td>Report {{i}}</td>

                                <td>Name</td>
                                <td><input type="text" ng-model="report.name"></td>

                                <td>URL</td>
                                <td><input type="text" ng-model="report.url"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>

    </div>

</div>


<div class="report-content" ng-show="reports.length > 0">
    <iframe id="{{viewerId}}-report" ng-src="{{reports[selectedReport].url}}"></iframe>
</div>